/* Fonts */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('fonts/mitr-v9-thai_latin-300.woff2') format('woff2'),
    url('fonts/mitr-v9-thai_latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('fonts/mitr-v9-thai_latin-regular.woff2') format('woff2'),
    url('fonts/mitr-v9-thai_latin-regular.woff') format('woff');
}